[submodule "QQGameEngine/vendor/spdlog"]
	path = QQGameEngine/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "QQGameEngine/vendor/GLFW"]
	path = QQGameEngine/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "QQGameEngine/vendor/imgui"]
	path = QQGameEngine/vendor/imgui
	url = git@github.com:TheCherno/imgui.git
